body {
  margin: 0;
  text-align: center;
  background-color: #fff;
}

#projectControl {
  background-color: #888;
  border-bottom: solid 2px #666;
  height: 10px;


  text-align: left;
  padding: 10px;

  position: fixed;
  left: 0px;
  right: 0px;
}

#projectList {
  text-align: left;
  padding: 10px;
  padding-top: 30px;
}

.projectContainer {
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.projectName {
  color: #77f;
  margin-top:0px;
}
